<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Movies</title>
  <h1>Hamza El Bahri</h1>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
    <h1>Alle Films</h1>
  
<br/><br/>
<a href='/search'>Zoeken op film</a>&nbsp;
 <br/><br/>

  <ul class='movie'>
  <% for(var i=0; i < movie.length; i++) {%>
    <li class='movie'>
      <span><b>Film  : </b><%= movie[i].film %></span><br />
      <span><b>Acteurs  : </b><%= movie[i].acteurs %> </span><br />
    </li>
  <% } %>
  </ul>
<br />
</body>
</html>
