<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Movies</title>
    <h1>Hamza El Bahri</h1>
</head>
<body>
        
<h2>Zoek film a.d.h.v. filmnaam</h2>
<br/>

<form action='/searchByName' method='POST'>
    <span><b>Filmnaam : </b><input type='text' name='film'></span>
    <span><button type='submit'>Zoek Film</button></span>
</form>

<br/><br/>
</body>
</html>